* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
  --ff: 'Roboto', sans-serif;

  --tt-heading: #0C3440;
  --tt-label: #00453A;
  --tt-input: #212529;
  --tt-placehoulder: rgba(73, 80, 87, 0.5);
  --ot-input: #02799D;

  --bd-input: rgba(73, 80, 87, 0.3);

  --bg-input: #DCE2E9;  
  --bg-body: #040924;
  --bg-btn: #02799D;
  --bg-btn-hover: #155bacdb;
  --bg-error: #F03E3E;
}

body {
  background: var(--bg-body);
  font-family: var(--ff);
}

body, input, button {
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  background: white;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  max-width: 42.8rem;
  margin-inline: auto;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: .6rem;
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--tt-heading)
}

form h1 {
  margin-bottom: 3.2rem;
}

form label {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--tt-label);
  display: block;
  margin-bottom: .8rem;
}

form input {
  width: 100%;
  height: 5.2rem;
  border: .1rem solid var(--bd-input);
  border-radius: .4rem;
  background: var(--bg-input);
  padding: 1.6rem;
  padding: .4rem;
}

form input:focus {
  outline: .2rem solid var(--ot-input);
}
form input::placeholder {
  color: var(--tt-placehoulder);
}

.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

form button {
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;

  border: none;
  border-radius: .4rem;
  background-color: var(--bg-btn);
  color: white;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  cursor: pointer;
  transition: background .3s;
}

form button:hover {
  background: var(--bg-btn-hover);
}
/* MODAL */

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;

}

.modal {
  position: relative;
}

.modal button {
  border: none;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
  transition: transform .3s;
}

.modal button:hover {
  transform: scale(1.1);
}

/* Alert error */
.alert-error.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.alert-error {
  position: absolute;
  background-color: var(--bg-error);
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: .8rem 0;

  visibility: hide;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform .3s;
}